/* CONFERENCES - Layout */


#conferences .conference {
  width: 33.3333%;
	max-height: 33%;
	display: inline-block;
	margin: 0;
	color: white;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;    /* OLD - Firefox 19- */                /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;     /* Chrome */
	-ms-flex: 1;         /* IE 10 */
	flex: 1;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#conferences .conference a {
	border-bottom: none;	
}

#conferences .conference .inner {
  height:100%;
	padding: 1em .25em 1.5em;
	position: relative;
  top: 50%;  
  _-webkit-transform: translateY(-50%);
  _-ms-transform: translateY(-50%);
  _xtransform: translateY(-50%);
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

#conferences .conference .icon {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
  width: 50%;
	padding: 0 0 .1em;
	margin: 0;
}

#conferences .conference .icon .inner {
	text-align: center;
	vertical-align: middle;
}

#conferences .conference .icon .icon-inner {
	text-align: center;
	vertical-align: middle;
}

#conferences .conference .icon img {
	width: 100%;
  height: auto;
	opacity: 0.6;
}

#conferences .conference .icon img {
	opacity: 1;
}

#conferences .conference .name {
 	font: .7em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 500;
	text-align: center;
	padding-bottom: .5em;
	padding-top: .75em;
}

#conferences .conference .name,
#conferences .conference .name a {
 	font: .7em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 500;
	text-align: center;
	color: white;
	text-decoration: none;
	opacity: 0.8;
}

#conferences .conference .date {
 	font: .65em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 400;
	padding-bottom: 0em;
	text-align: center;
	opacity: 0.75;
}

#conferences .conference .details {
	vertical-align: top;
	display: inline-block;
	width: 63%;
  padding: 0;
  margin: 0;
}

#conferences .conference .links {
  min-height: 1.1em;
	padding-top: .2em;
}

#conferences .conference .links .link {
	padding: 0 .2em;
	display: inline-block;
}




#conferences .conference.python .link.facebook {
  display: none;
}

#conferences .conference .links a {
	color: white;
	opacity: 0.8;
	font-size: .9em;
	line-height: 1em;
}

#conferences .conference .description {
  display: none;
  font: .9em/1.3em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}





@media only screen and (min-width: 560px) {

  #conferences .conference {
    width: 20%;
  }

  #conferences .conference .icon {
  	width: 45%;  
  }

  #conferences .conference .icon img {
	  margin-top: .5em;
  }

  #conferences .conference .name {
 	  padding-bottom: .5em;
  }
 
  #conferences .conference .name,
  #conferences .conference .name a {
  	font-size: .85em;
  }

  #conferences .conference .date {
    font-size: .8rem;
	  font-weight: 400;
	  padding-bottom: .65em;
  }	

}




@media only screen and (min-width: 768px) {
  
  _body.conferences #page {
	padding: 0;
  }

  #conferences .conference {
    width: 20%;
  }

  #conferences .conference .inner {
  	margin-bottom: 1px;
  }
	
  #conferences .conference .name {
 	  padding-bottom: .5em;
	  padding-top: 1em;
  }

  #conferences .conference .name,
  #conferences .conference .name a {
	  font-size: 1.05rem;
  }

  #conferences .conference .date {
    font-size: 1em;
	  font-weight: 400;
	  padding-bottom: .65em;
	  padding-top: .25em;
  }	

  #conferences .conference .open .description {
    font-size: .85em;
  	padding-right: .6em;
  	padding-left: .6em;
  }

}




@media only screen and (min-width: 1024px) {

  #conferences .conference {
    width: 20%;
    height: 25%;
  }

  #conferences .conference .inner {
  	padding: 0 1em 1em;
   	margin-bottom: 0px;
  }
  
	#conferences .conference .icon {
		width: 50%;
		padding: 1em 0em 1.75em;
	}
	
	#conferences .conference .icon .inner {
		text-align: center;
		vertical-align: middle;
		padding: 1em 1em 1.75em;
  }
	
	#conferences .conference .icon .inner img {
	  width: 100%;
	  height: auto;
		padding-bottom: 0;
		display: block;
	}

	#conferences .conference div {
		display: block;
		clear: both;
		vertical-align: top;
	}
	
  #conferences .conference .name {
 	  padding-bottom: .25em;
	  padding-top: 0em;
  }

  #conferences .conference .name,
  #conferences .conference .name a {
  	font-size: 1.2rem;
  }

  #conferences .conference .open .description {
    font-size: 1em;
  	padding-right: .7em;
  	padding-left: .7em;
  	line-height: 1.3em;
  }

}





@media only screen and (min-width: 1280px) {
		
	#conferences .conference {
	  _width: 20%;  /* 5col */
	  width: 16.666666%;  /* 6-col */
	}

  #conferences .conference .icon {
  	width: 50%;visibility
  }

}




@media only screen and (min-width: 1600px) {	

  #conferences .conference {
	  _width: 20%;  /* 6-col */
	  width: 16.666666%;  /* 6-col */
	  _width: 14.28571%; /* 7-col */
    height: 25%;
  }

}




@media only screen and (min-width: 1800px) {	

  .conference {
	  width: 16.666666%;  /* 6-col */
  	height: 33%;
  }

  .conference .inner {
  	padding-top: 1em;
  	padding-bottom: 1em;
  	margin-bottom: 1px;
  }

  .conference .name,  
  .conference .name a {
	  font-size: 1.25rem;
  }
  
  .conference .date {
  	font-size: 1em;
  }

}


/* TEMP */

.conference.design {
	display: none;
}

.conference .links .facebook {
	display: none!important;
}




/* TEMP */

#conferences .conference.design {
	display: none;
}