/* CONFERENCES - Colors */

.conference.agency {
	background: #0d66f2;
}

.conference.ai {
	background: #7B93A5;
}

.conference.android {
	background: #A4C63A;
}

.conference.angular {
	background: #DD1B16;
}

.conference.apps,
.conference.apps a.button {
	background-color: teal;
}

.conference.h4h {
  background-color: #00dc00;
}

.conference.h4h .links a {
  color: #00dc00;
}

.conference.civic {
  background-color: #d04e4e;
}

.conference.community {
  background: #3FA652;
}

.conference.dataviz {
	background: #F89B46;
}

.conference.database {
	background-color: navy;
}

.conference.devops {
	background-color: #a06bd0;
}

.conference.drupal {
	background: #04639d;
}

.conference.elixir {
  background: #4e2a8e;
}

.conference.erlang {
  background: #9A0000;
}

.conference.frontend {
  _background: purple;
  background: #deb200;
}

.conference.go {
  background: #B7937F;
}

.conference.maker {
	background-color: blue ;
}

.conference.maps {
	background: #a0c598;
}

.conference.meteor {
  background: #333333;	
}

.conference.nerves {
	background-color: #676961;
}

.conference.nextgen {
	background-color: #f029e0;
}

.conference.node,
.conference.node a.button {
	background-color: #80BD01;	
}

.conference.open {
	background-color: white;
}

.conference.phoenix {
	background: #F15523;
}

.conference.pygotham {
	background: #3f6b9d;
}

.conference.rails {
	background: #A62C39;
}

.conference.react {
	background: #00D8FF;
}

.conference.search {
	background: #FF8066  ;
}

.conference.swift {
	background: #ef5238;
}

.conference.wordpress {
	background: #21759b;
}

.conference.webperf {
	background: #800080;
}

.conference.un {
	background: #4B92DB;
}
