#sessions .Keynote {
	_display: none;
}

#keynotes {
  vertical-align: top;
}

#keynotes .divider {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#keynotes img {
	width: 160px;
	height: auto;
}

.conference.dataviz #keynote img {
	width: 150px;
	height: auto;
}



#keynotes .details {
	width: 320px;
	margin-left: 10px;
}

#keynotes .details p {
	width: 100%;
}
	
#keynotes .details p,
#keynotes .details a {
	text-align: left;
	font-size: .8rem;
}

#keynotes .details p a {
	border-bottom: 1px dotted silver!important;
}


#keynotes .links {
	padding-top: .5em;
	text-align: left;
}

#keynotes .photo,
#keynotes .details {
	display: inline-block;
	vertical-align: top;
}  

#keynotes h3 {
	font: 1.25rem "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	text-align: left;
	margin-top: 0;
	padding-bottom: 2px;
}

#keynotes .details {
	width: 320px;
}  

#keynotes .links .link {
	display: inline-block;
	margin-right: .1rem;
	margin-left: .1rem;
}


.session.Keynote {
	_clear: both;
	_display: block;
}
