body {
	margin: 0;
}

#main-menu,
.show-menu,
#show-menu,
#menu {
  z-index: 100;
}

.show-menu {
	padding: 10px;
	color: #a4a4a4;
	position: fixed;
	top: 28px;
	right: 0;
	display:block;
	width: 30px;
}

#main-menu ul#menu  {
	right: 0;
	border-top: 1px solid #e7e7e7;
	top: 90px;
}

ul {
	list-style-type:none;
	margin: 0;
	padding:0;
	width: 100%;
  position: static;
  display: none;
}

ul#menu {
	margin: 0px 0 0;
	position: absolute;
}

ul li {
	width: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
}

ul li li {
	border-left: none;
	
}

/* Parent Links */
ul li a {
	width: 100%;
	display:block;
	text-align: center;
	line-height: 1em;
	font: .9em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	background: #b4b4b4;
	text-decoration: none;
	padding: .58em 0;
}

/* Parent Links - Hover */
ul li:hover a {
	background: silver;
}

/* Dropdown Links - Hide */
li ul {
	display: none;
	margin-top:  0;
}

/* Dropdown Links*/
li:hover ul a {
	font-size: .8em;
	background: #d3d3d3;
	color: #ffffff;
	height: 40px;
	line-height: 40px;
}

/* Dropdown Links - Hover*/
li:hover ul a:hover {
	background: silver;
	color: #fff;
}

/* Dropdown Links - Make vertical*/
li ul li {
	display: block;
	float: none;
}

/*Dropdown Links - Prevent Text Wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0px;
}

/*Dropdown Links - Display on Hover */
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Hide Checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show Menu OnClick (When Invisible Checkbox is Checked) */
input[type=checkbox]:checked ~ #menu{
    display: block;
}




/*Responsive Styles*/



@media screen and (min-width : 768px){

  body.conferences .show-menu {
	  padding: 10px 0;
	  color: #a4a4a4;
	  position: absolute;
	  top: 0;
	  left: 10px;
  }

  #main-menu ul#menu {
	  margin-top: 0px;
  }

  body.conferences #main-menu ul#menu {
	  margin-top: 47px;
  	left: 0;
    margin-left: -1px;
  }

  body.conferences #main-menu ul li {
	  padding: 0;
	  border-right: 1px solid silver;
	  border-left: none;
  }

   body.conferences #main-menu ul li li {
	  border-right: none;
   }

  body.conferences #main-menu ul#menu {
  	top:  0;
  }

}