/* Open Camps - Sessions */

#sessions {
  width: 100%;
	background-color: #e0e0e0;
	text-align: center;
}

.session {
	width: 480px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.session .session-inner {
	width: 480px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	border: 1px solid gray;
	margin: 1rem 10px;
	padding: 0;
	background-color: white;
	text-align: left;
}

.session .icon {
  display: none;
}


.session h4 {
	font-weight: bold;
	font-size: 1.25rem;
	line-height: 1.6rem;
	margin-top: .25rem;
	padding-left: 1rem;
	margin-bottom: .5rem;
}

.session .camp {
  float: left;
	font-size: .85em;
	padding: .35rem;
}

.session .slot {
	text-align: right;
	font-size: .85em;
	padding: .35rem;
}

.session p.summary {
	font-weight: 300;
	padding-right: 1rem;
	padding-left: 1rem;
	text-align: left;
	line-height: 1.6em;
	font-size: .95rem;
	margin-top: 0;
}


.session inner {
}

.session img {
	width: 100%;
	height: auto;
	display: block;
  vertical-align:top;
	margin: 0;
	padding: 0;
	line-height: 0;
}

.session .speakers,
.session .speaker,
.session .speaker-inner {
	margin: 0;
	padding: 0;
}

.speaker .inner {
	padding: 0;
	margin: 0;
}

.speaker .links {
	text-align: left;
}


.speaker .link {
	display: inline-block;
	padding: .25rem 3px 3px;
}

.speaker .link a {
	color: gray;
	border-bottom-style: none;
	font-size: 1.2585em;
}


.speaker .photo {
	display: inline-block;
	width: 120px;
	margin-right: 1rem;
}

.speaker .details {
  vertical-align: top;

	background-color: white;
	font-size: .8em;
	border-top: 1px solid silver;
	padding-top: 0;
	display: inline-block;
	max-width: 300px;
}

.speaker h5.speaker-name {
	font-size: .95rem;
	color: black;
	text-align: left;
	padding-top: .5rem;
	margin-bottom: .25rem;
	margin-top: .25rem;
}

.speaker .organization {
	margin-bottom: .25rem;
	color: gray;
}

.speaker .role {
	margin-bottom: .25rem;
	color: gray;
}

body.sessoins h2 {
	font: 2em/1em "FuturaT", sans-serif;
	color: #424242;
	font-weight: 900;
  letter-spacing: -.06em;
	padding: .5rem 1rem .25rem;
}

.sessoins h3 {
	font: 1em Ubuntu, sans-serif;
	color: #424242;
  font-weight: 500;
  letter-spacing: -.035em;
	margin-top: 0;
	padding-left: 1rem;
}

.sessions p.intro {
	padding-left: 1rem;
	
}



.session .video {
	margin: 1em 0 0;
	display: none;
}

.session h5.video {
	padding: .5em;
	background-color: black;
	margin: 0;
	color: white;
	display: inline-block;
}

.session .video .embed {
  clear: both;
	border-top: 1px solid white;
	margin-top: 1px;
}



@media only screen and (min-width: 768px) {

  .session {
  	width: 500px;
  	padding-right: 10px;
  	padding-left: 10px;
  }
}


@media only screen and (min-width: 1024px) {
	
		
	.sessions h2 {
		font: bolder 3em;
		color: #424242;
	  font-weight: 900;
		margin-bottom: .25em;
		margin-top: .5em;
	}
	
	.col-text h3 {

	}

  
}


@media only screen and (min-width: 1200px) {
	
	.session {
	}
	
	.sessoins h2 {
		font-size: 3.25rem;
	  padding-top: .5rem;
	  padding-bottom: .25rem;
	
	}
	
	.sessions h3 {
		font: 1.25rem Ubuntu, sans-serif;
	}
	
	
	body.sessions p,
	body.sessoins li {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 300;
		margin-left: 1rem;
	}


}





@media only screen and (min-width: 1600px) {	
	
	body.sessoins .session {
	
	}

	body.sessions .content-row h2 {
		font-size: 5rem;
		padding: 5rem 5rem 1rem;
		margin: 0;
	}
	
	body.sessions .content-row h3 {
		font: 1.5rem Ubuntu, sans-serif;
		padding-right: 5rem;
		padding-left: 5rem;
	}
	
	body.sessoins p {
		font-size: 1.1rem;
		line-height: 1.5em;
	}
	
	body.sessions li {
		font-size: 1.1rem;
		line-height: 1.5em;
		font-weight: 300;
	}

}





@media only screen and (min-width: 1800px) {	

}
 


/* TEMP */























