/* Open Camps */





/* General */

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}


div,
a {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1,
h2,
h3 {
	color: gray;
}

h1 {
	font-size: 1.9em;
	font-weight: bold;
}
	
p {
	font-size: .9em;
	color: #595959;

}

a {
	color: #181818;
	text-decoration: none;
}

 @font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 




/* Layout */

html, 
body {
	height: 100%;
}

#page {
	  padding-top: 0;
}

body.conferences #page {
	padding: 90px 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}


.slogan-short {
	display: block;
}

.slogan-long {
  display: none;
}

#header {
  background-color: white;
	position: fixed;
	border-bottom: 1px solid #dedede;
}

body.conferences #header {
  margin-top: -90px;
  height: 90px;
  background-color: white;
	position: fixed;
}

#conferences {
  min-height: 100%;
  position: relative;
  background-color: white;
}

#conferences #promo {
	position: absolute;
	left: 0;
	right: 0;
	width: 20px;
	height: 20px;
}











/* HEADER */

#header {
	width: 100%;
	text-align: center;
	background-color: white;
	font: 1em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: silver;
	padding: 0;
	opacity: 1;
	z-index: 1;
	clear: both;
	display: block;
	height: 90px;
}

#header .inner {
	text-align: left;
  vertical-align: top;
}

#header .logo {
	display: inline-block;
	text-align: left;
  vertical-align: top;
  width: 75px;
	background-color: white;
	margin-left: 5px;
	margin-right:3px;
}

#header .logo img {
  width: 100%;
  height: auto;
	background-color: white;
}

#header.active {
     box-shadow: 0 0 10px rgba(0,0,0,0.4);   
}

#header .text {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#header .oc a {
	font: 1.7em/1em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;	text-align: left;
	font-weight: 900;
	color: #a4a4a4;
	margin: 0;
	padding: 0;
}

#header .dates a {
	font: .86em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #a4a4a4;
  font-weight: 400;
	padding-bottom: 0;
	padding-left: 3px;
	padding-top: 2px;
}

#header .slogan {
	background-color: #a4a4a4;
	padding: 4px 4px 4px 6px;
	margin-bottom: 10px;
	height: 14px;
	text-align: left;
}


#header .slogan p,
#header .slogan a {
	font: 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: white;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

#header .slogan a {
	text-decoration: underline;
}

#header .slogan-short {
	font-size: .55em;
}

#header .slogan-long {
	font-size: 12px;
}

#header .links {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1px 5px 1px 2px;
	_margin-top: 20px;
}

#header .links .link {
	display: inline-block;
	padding-right: 0px;
}

#header .links a {
	padding: 0px;
	display: inline-block;
	color: white;
}




/* Open Camps */

.conference.open {
  display: none;
}

.conference.open .inner {
	padding-top: .5em;
}

.conference .open .icon {
	width: 50%;
	vertical-align: middle;
	padding-bottom: 0;
	font-size: 1em;
	margin: 0;
}

.conference .open .icon img {
	height: auto;
	width: 100%;
}

.conference .open:hover .description {
  display: block;
}

.conference .open .name {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.conference .open .name,
.conference .open .name a {
	font-size: 1em;
	font-weight: 700;
	color: #a4a4a4;
	line-height: 1em;
}

.conference .open .date {
	color: #a4a4a4;
	font-size: .8em;
	font-weight: 700;
	padding-top: 0em;
	padding-bottom: .25em;
}

.conference .open .description {
	color: #a4a4a4;
	padding-right: .25em;
	padding-left: .25em;
	display: block;
	font-size: .85em;
}

.conference .open .inner {
	position: relative;
}

.conference .open .links {
  display: block!important;
  color: #a4a4a4;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}

.conference .open .links a {
  color: #a4a4a4;
}

.conference .open .link .website {
 display: none;
}







/* CONFERENCES - Layout */

#main-menu ul#menu {
	width: 33.3333%;
}

.conference {
  width: 33.3333%;
	max-height: 33%;
	display: inline-block;
	margin: 0;
	color: white;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;    /* OLD - Firefox 19- */                /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;     /* Chrome */
	-ms-flex: 1;         /* IE 10 */
	flex: 1;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


.conference .inner {
  height:100%;
	padding: 1em .25em 1.5em;
	position: relative;
  top: 50%;  
  _-webkit-transform: translateY(-50%);
  _-ms-transform: translateY(-50%);
  _xtransform: translateY(-50%);
}

.conference .icon {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
  width: 50%;
	padding: 0 0 .1em;
	margin: 0;
}

.conference .icon .inner {
	text-align: center;
	vertical-align: middle;
}

.conference .icon .icon-inner {
	text-align: center;
	vertical-align: middle;
}

.conference .icon img {
	width: 100%;
  height: auto;
	opacity: 0.6;
}

.conference .name {
 	font: .7em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 500;
	text-align: center;
	padding-bottom: .5em;
	padding-top: .75em;
}

.conference .name,
.conference .name a {
 	font: .7em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 500;
	text-align: center;
	color: white;
	text-decoration: none;
	opacity: 0.8;
}

.conference .date {
 	font: .65em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 400;
	padding-bottom: 0em;
	text-align: center;
	opacity: 0.75;
}

.conference .details {
	vertical-align: top;
	display: inline-block;
	width: 63%;
  padding: 0;
  margin: 0;
}

.conference .details .links {
  float: right;
	padding-right: .25em;
	padding-bottom: .5em;
}

.conference .links {
	display: none;
}


.conference .links .link {
	padding: 0 .2em;
}

.conference .links a {
	color: white;
	opacity: 0.8;
	font-size: .9em;
	line-height: 1em;
}

.conference .description {
  display: none;
  font: .9em/1.3em 'Ubuntu', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}





/* PAGES - About */

body.about .content {
	padding: 90px 5% 3em;
}

body.about a.about {
	display: none;
}



@media only screen and (min-width: 560px) {

  .slogan-short {
  	display: none;
  }

  .slogan-long {
	  display: block;
  }


  #main-menu ul#menu {
	  width: 25%;
  }

  _ul li a {
  	width: 100%;
  	display:block;
  	text-align: center;
  	line-height: 1em;
  	font: 1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  	color: #fff;
  	background: #a4a4a4;
  	text-decoration: none;
  	padding: 4em 0;
  }

  .conference {
    width: 25%;
  }

  .conference .icon {
  	width: 45%;  
  }

  .conference .icon img {
	  margin-top: .5em;
  }

  .conference .name {
 	  padding-bottom: .5em;
  }
 
  .conference .name,
  .conference .name a {
  	font-size: .95em;
  }

  .conference .date {
    font-size: .85em;
	  font-weight: 400;
	  padding-bottom: .65em;
  }	

}





@media only screen and (min-width: 768px) {
  
  #main-menu ul#menu {
	  width: 25%;
	  margin-top: 79px;
  }

  body.conferences #page {
	padding: 0;
  }

  .conference {
    width: 25%;
  }
	
  .conference .name {
 	  padding-bottom: .5em;
	  padding-top: 1em;
  }

  .conference .name,
  .conference .name a {
	  font: 1.5em;
  }

  .conference .date {
    font-size: 1em;
	  font-weight: 400;
	  padding-bottom: .65em;
	  padding-top: .25em;
  }	

  body.conferences #header {
  	display: none;
  }

  .conference.open {
	  display: inline-block;
  }


  .conference .open .link {
    color: #a4a4a4;
  	padding-bottom: 1px;
  }

  .conference .open {
  	padding-bottom: .5em;
  	padding-top: .75em;
  }

  .conference .open .icon {
	  width: 65%;
  }

  .conference .open .links {
  	padding-right: .2em;
  	padding-top: .2em;
  }

  .conference .open .icon {
  	padding-top: .35em;
  }

  .conference .open img {
    width: 100%;
    height: auto;
  	margin-top: .5em;
  	padding: 0;
  }

  .conference .open .name {
    font-size: 1.65em;
  }

  .conference .open .date {
    font-size: .9em;
  	margin-top: 0;
  	padding-top: .35em;
  	padding-bottom: .75em;
  	font-weight: 700;
  }

  .conference .open .description {
    font-size: .85em;
  	padding-right: .6em;
  	padding-left: .6em;
  }

}




@media only screen and (min-width: 1024px) {

  .conference {
    width: 25%;
    height: 25%;
  }

  .conference .inner {
  	padding: 1em;
  }	
  
	.conference .icon {
		width: 35%;
		padding: 1em 1em 1.75em;
	}
	
	.conference .icon .inner {
		text-align: center;
		vertical-align: middle;
  }
	
	.conference .icon img {
	  width: 100%;
	  height: auto;
		padding-bottom: 0;
	}

	.conference div {
		display: block;
		clear: both;
		vertical-align: top;
	}
	
  .conference .name {
 	  padding-bottom: .25em;
	  padding-top: 0em;
  }

  .conference .name,
  .conference .name a {
  	font-size: 1.2em;
  }

  .conference .date {
    font-size: 1em;
	  font-weight: 400;
	  padding-bottom: .65em;
	  padding-top: .25em;
  }	

  .conference .open .name {
    font-size: 2.3em;
  	padding-bottom: .2em;
  }

  .conference .open .date {
    font-size: 1.2em;
  	margin-top: 0;
  	padding-top: 0em;
  	padding-bottom: .35em;
  }

  .conference .open .description {
    font-size: 1em;
  	padding-right: .7em;
  	padding-left: .7em;
  	line-height: 1.3em;
  }

}




@media only screen and (min-width: 1280px) {
	
	#main-menu ul#menu {
		width: 20%;
	}
	
	.conference {
	  width: 20%;  /* 5col */
	  _width: 16.666666%;  /* 6-col */
	}

  .conference .icon {
  	width: 50%;
  }

  .conference .open .icon {
	  width: 80%;
  	padding-top: .5em;
  	padding-bottom: .3em;
  }

  .conference .date {
    font-size: 1em;
	  font-weight: 400;
	  padding-bottom: .65em;
	  padding-top: .25em;
  }	

  .conference .open .name {
    font-size: 2.3em;
  	padding-bottom: .2em;
  }

  .conference .open .date {
    font-size: 1.2em;
  	margin-top: 0;
  	padding-top: 0em;
  	padding-bottom: .35em;
  }

  .conference .open .description {
    font-size: 1.09em;
  	padding-right: .7em;
  	padding-left: .7em;
  	line-height: 1.3em;
  }

}





@media only screen and (min-width: 1600px) {	

  #main-menu ul#menu {
	  width: 16.666666%;
  }

  .conference {
	  _width: 20%;  /* 6-col */
	  width: 16.666666%;  /* 6-col */
	  _width: 14.28571%; /* 7-col */
    height: 25%;
  }

}





@media only screen and (min-width: 1800px) {	

  .conference {
	  width: 16.666666%;  /* 6-col */
  	height: 33%;
  }

  .conference .inner {
  	padding-top: 1em;
  	padding-bottom: 1em;
  }

  .conference .name,  
  .conference .name a {
	  font-size: 1.25rem;
  }
  
  .conference .date {
  	font-size: 1em;
  }

}
























